
/* observacoes: o container (div do form) não ficou perfeitamente alinhado ao centro da página
a página fica igual ao prototipo do figma quando está a aprox. 50% no navegador
Não consegui fazer o hr ficar na largura/alinhado ao inicio e final dos campos do relatório 
A altura da div do form também não ficou conforme as especificações do figma*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo', sans-serif;
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 0;

}

hr {
    border: none;
    border-top: 2px solid#E6E6F0;
    margin: 1px 0;
    padding: 0 36px;


}


.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1em;
    width: 100vw;
    height: 368px;

}

.centralizar {

    /* max-width: 1440px; */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .1vh;

}

.titulo {
    display: flex;
    justify-content: left;
    align-items: last baseline;
    height: 100vh;
    color: white;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    margin-bottom: 8px;
}


.subtitulo {
    display: flex;
    justify-content: left;
    color: white;


    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.titulo-formulario {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 1em;
    padding: 30px;
}

.form-container {
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    width: 736px;
    height: 1098px;
    top: 282px;
    left: 351px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    font-family: sans-serif;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F4;
   font-family: 'Archivo', sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  
    
}
.container-botao button {
  width: 100%;
  padding: 15px;
  background-color: #DB1B1B;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#historia{
    margin-bottom: 25px;
}


form {

    max-width: 608px;
    max-height: 834px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

label {
    margin-top: 12px;
}

input,
textarea {
    padding: 8px;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid #E6E6F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    /* margin-top: 20px; */
    background-color: #DB1B1B;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;


}